<form>
    <div class="mb-3">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre">
    </div>
    <div class="mb-3">
        <label for="Apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="Apellidos">
      </div>
      <div class="mb-3">
        <label for="Ciudad" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="Ciudad">
      </div>
      <div class="mb-3">
        <label for="Telefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="Telefono">
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">E-Mail</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="mesDispo" class="form-label">Mes Disponible</label>
        <input type="number" class="form-control" id="mesDispo">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
